html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0f0f0f;
    overscroll-behavior: none;
}

#app {
    width: 100%;
    height: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container,
#game-container canvas {
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
